<app-navbar></app-navbar>
<ion-content mode="ios">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button (click)="AgregarProductosModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-row>
    <ion-card class="tarjeta" color="light" *ngFor="let producto of productos;" (click)="editarProducto(producto)">
      <div class="div-tarjeta">
        <img class="imagen" src="{{producto.url_imagen_producto}}" alt="fotografia">
      </div>

      <ion-card-title class="ion-margin">{{producto.nombre_producto}}</ion-card-title>

      <ion-card-content>
        <p><b>Descripción: </b>{{producto.descripcion}}</p>
        <p><b>Stock</b>: {{producto.cantidad_unidades}}</p>
        <p><b>Precio costo: </b>{{producto.precio_costo}}</p>
        <p><b>Precio venta: </b>{{producto.precio_venta}}</p>

      </ion-card-content>
    </ion-card>

  </ion-row>
</ion-content>


<ion-modal [isOpen]="editarProductosModal">
  <ng-template>
    <ion-header mode="ios">
      <ion-title style="color: white;">
        Editar producto
      </ion-title>
    </ion-header>
    <ion-content>
      <form #formDataEdit="ngForm" (ngSubmit)="onSubmitEditProducto(formDataEdit)">
      <ion-list>
        <ion-item>
          <ion-input label="Nombre" [ngModel]="currentProducto.nombre_producto"  labelPlacement="stacked"  name="nombre_producto"
            placeholder="Teclea el nombre del producto" value="">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input  label="precio_costo" [ngModel]="currentProducto?.precio_costo" name="precio_costo" labelPlacement="stacked"
            placeholder="Teclea el precio_costo del producto" >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Descripcion" [ngModel]="currentProducto.descripcion" labelPlacement="stacked" name="descripcion"
            placeholder="Teclea el correo del producto" >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Stock" [ngModel]="currentProducto.cantidad_unidades" labelPlacement="stacked" name="cantidad_unidades" type="number"
            placeholder="Teclea el télefono del producto" value="">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Precio costo" [ngModel]="currentProducto.precio_costo" labelPlacement="stacked" name="precio_costo" type="number"
            placeholder="Teclea el télefono del producto" value="">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Precio venta" [ngModel]="currentProducto.precio_venta" labelPlacement="stacked" name="precio_venta" type="number"
            placeholder="Teclea el télefono del producto" value="">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea label="Fotografía" [ngModel]="currentProducto.url_imagen_producto" labelPlacement="stacked" name="url_imagen_producto"
            placeholder="Teclea la URL de la fotografía del producto" value="">
          </ion-textarea>
        </ion-item>
        <ion-toolbar color="white"  mode="ios" style="text-align: center;">
          <ion-button color="success ion-padding" type="submit">Guardar</ion-button>
        </ion-toolbar>
      </ion-list>
    </form>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar color="medium" mode="ios" style="text-align: center;">
        <ion-button color="dark" (click)="CancelarEditarProductosModal()">Cancelar</ion-button>
        <ion-button color="danger" (click)="eliminar()">Borrar producto</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>


<ion-modal [isOpen]="agregarProductosModal">
  <ng-template>
    <ion-header mode="ios">
      <ion-title style="color: white;">
        Agregar producto
      </ion-title>
    </ion-header>
    <ion-content>
      <form #formData="ngForm" (ngSubmit)="onSubmbitCreateProducto(formData)">
        <ion-item>
          <ion-input type="text" ngModel name="nombre_producto" placeholder="Nombre del producto">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" ngModel name="descripcion" placeholder="Descripción">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" ngModel name="precio_costo" placeholder="Precio costo">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" ngModel name="precio_venta" placeholder="Precio venta">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" ngModel name="cantidad_unidades" placeholder="Stock">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" ngModel name="url_imagen_producto" placeholder="URL de la fotografía">
          </ion-input>
        </ion-item>
        <div></div>
        <ion-toolbar color="white"  mode="ios" style="text-align: center;">
          <ion-button color="success ion-padding" type="submit">Guardar</ion-button>
        </ion-toolbar>
      </form>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar color="medium" mode="ios" style="text-align: center;">

        <ion-button color="dark" (click)="CancelarAgregarProductosModal()">Cancelar</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
